.calc {
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 10px solid black;
  clear: both;
  background: black;
  font-size: 20px;
}

.calc:after {
  content: "";
  display: table;
  clear: both;
}

.calc__button-container {

}

.calc__button {
  display: block;
  cursor: pointer;
  width: 25%;
  float: left;
  padding: 20px 0;
  color: white;
  /*outline: 2px solid black;*/
}

.calc__button.operator {
  /*background: rgba(255,255,255,0.2);
  color: orange;*/
}

.calc__button.action.equals {
  background: #a50000;
}

.calc__button:hover {
  background: rgba(255,255,255,0.2);
  color: white !important;
}



.calc__button:nth-child(-n+2) {
  width: 50%;
}

.calc__screen {
  background: black;
  color: white;
}

.calc__screen--main {
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 50px;
  clear: both;
  overflow: hidden;
}

.calc__screen--sub {
  outline: 2px solid black;
  width: 40%;
  height: 50px;
  line-height: 50px;
  float: left;
  color: black;
  background: orange;
  font-weight: bold;
}

.calc__screen--operator {
  width: 20%;
}
